<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/stylesheets/profile.css" />
</head>
<body>
  <div class="prof_block">
    <h1 class="prof">プロフィール</h1>
  </div>
  <div class="pic_box">
    <img class="pc_pic" src="./images/pc.png" alt="pc"/>
  </div>
  <h1 class="job_title">職務要約</h1>
  <h1 class="job_details">
  フロントとバックエンドの開発 改修、システム自動化や<br>社内アプリの開発としてクローラーやbotの作成などを行っておりました。<br>人とコミュニケーションを取る事が得意なのでチーム業務も円滑に行える自信があります。
  </h1>
  <h1 class="job_title">テクニカルスキル</h1>
  <h1 class="skill">
    <span class="skill_title">言語</span><br>
    PHP | Node.js | Java | JavaScript | VBScript | HTML | CSS | Google App Script | ShellScript |<br>
    <span class="skill_title">フレームワーク等</span><br>
    Laravel | Express | strut2 | Vue.js | Sass | Bootstrap | Webpack |<br>
    <span class="skill_title">クラウド</span><br>
    【AWS】 EC2 | IAM | S3 | RDS | VPC | Rote53 | ACM | CloundFront | ELB |<br>
    <span class="skill_title">OS サーバー</span><br>
    【Linux】 CentOS | Ubuntu | 【DB】 MySQL | PostgreSQL | 【AP】 | Tomcat | 【Web】 nginx | Apache |<br>
    <span class="skill_title">etc</span><br>
    Docker | CircleCI | Photoshop | Illustrator | XD | WinActor | vagrant | raspberry pi | Gulp |<br>
  </h1>
</body>
</html>