<html>
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/quiz.css">
</head>
<body>
  <div id="app" class="row">
    <!-- クイズを表示する部分 -->
    <div class="offset-3 col-6" v-if="!completed">
      <div class="card">
        <div class="card-body">
          
          <h4 class="alert alert-warning">第 {{ (questionIndex+1) }} 問 {{ currentQuestion.question }}</h4>
          
          <div v-if="questionIndex+1 === 1">
            <img v-bind:src="quiz_image1" class="quiz_image">
          </div>
          <div v-if="questionIndex+1 === 2">
            <img v-bind:src="quiz_image2" class="quiz_image">
          </div>
          <div v-if="questionIndex+1 === 3">
            <img v-bind:src="quiz_image3" class="quiz_image">
          </div>

          <hr>
          <button
            type="button"
            class="btn btn-success btn-lg btn-block text-left"
            v-for="(answer,index) in currentQuestion.answers"
            @click="addAnswer(index)">{{ (index+1) }}. {{ answer }}</button>
        </div>
      </div>
    </div>

    <!-- 結果表示する部分 -->
    <div class="offset-3 col-6" v-if="completed">
      <div class="card">
        <div class="card-body">
            <h4><span class="badge badge-success">結果発表</span></h4>
          <div v-for="(question,index) in this.questions">
            <h4 class="alert alert-danger">{{ question.question }}</h4>
            <ul class="alert alert-light">
              <li v-for="answer in question.answers">{{ answer }}</li>
            </ul>
            <div class="alert alert-warning">
            <span v-if="question.answer == answers[index]">正解 &#x2b55;（{{ question.answers[question.answer] }}）<br>おめでとうございます！</span>
            </h4><span v-else>不正解 &#x274c;<br>「{{ question.answers[question.answer] }}」が正解です！</span>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="btn">
        
          <button type="button" class="btn btn-info"><img class="twitter" src="./images/twitter_white.png" alt="twitter"/><a href="https://twitter.com/intent/tweet?text=%E3%82%AF%E3%82%A4%E3%82%BA%E3%81%AB%E3%83%81%E3%83%A3%E3%83%AC%E3%83%B3%E3%82%B8%EF%BC%81%0A%0A&url=https%3A%2F%2Fwww.product1.work/quiz">ツイートする</a></button>
          
        <button type="button" class="btn btn-warning"><a href="/" class="btn_return">戻る</a></button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        answers: [],
        questionIndex: 0,
        quiz_image1: './images/sakuranbo.jpg',
        quiz_image2: './images/onsen.png',
        quiz_image3: './images/kome.jpg',
        questions: [
          {
            question: 'さくらんぼで有名な品種は？',
            answers: [
              '佐藤錦',
              '伊藤錦',
              '佐々木錦',
            ],
            answer: 0
          },
          {
            question: '山形で有名な温泉街は？',
            answers: [
              '金山温泉',
              '銀山温泉',
              '銅山温泉',
            ],
            answer: 2
          },
          {
            question: 'お米の品種の多さは全国何位か？',
            answers: [
              '２位',
              '１位',
              '３位',
            ],
            answer: 1
          }
        ]
      },
      methods: {
        addAnswer: function(index) {
          this.answers.push(index);
          if(!this.completed) {
            this.questionIndex++;
          }
        }
      },
      computed: {
        currentQuestion: function() {
          return this.questions[this.questionIndex];
        },
        completed: function() {
          return (this.questions.length == this.answers.length);
        }
      }
    })
  </script>
</body>
</html>
